flake8==3.9.2
mccabe==0.6.1
pycodestyle==2.7.0
pyflakes==2.3.1

#Deps Pytest
pluggy=1.0.0
attrs==21.2.0
py==1.8.2
pyparsing==2.0.2
toml-0.10.2
iniconfig-1.1.1
colorama-0.4.4
atomicwrites==1.0
-r requirements.txt
